<h1>Weather Forecast</h1>

<%= form_for :city, url: weather_forecast_index_path, :method => :get do |f| %>
  <p>
    <%= f.label "Name of city" %><br>
    <%= f.text_field :name %>
  </p>
  <%= f.submit "View weather forecast" %>  
<% end %>



<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
th {
    padding: 5px;
    text-align: left;
    width: (100/7)%;
}
td
{
    padding: 5px;
    text-align: left;
    width: 70px;
}
</style>
</head>


<body>
<% if @geoInfo %>
<% if @forecastData %>
  <table>
  <caption style="font-size: 200%">Weather forecast for <%= @name %><div><br></div></caption>
  <tr>
    <td style="visibility: hidden"></td>
    <th><%= @timeArray[0] %></th>
    <th><%= @timeArray[1] %></th>
    <th><%= @timeArray[2] %></th>
    <th><%= @timeArray[3] %></th>
    <th><%= @timeArray[4] %></th>
    <th><%= @timeArray[5] %></th>
    <th><%= @timeArray[6] %></th>
  </tr>
  <tr>
    <td style="visibility: hidden"></td>
    <th><img src= "/assets/<%= @iconArray[0] %>.png" alt= <%= @iconArray[0] %> style="width:60px;height:60px;display: block;margin-left: auto;margin-right: auto "></th>
    <th><img src= "/assets/<%= @iconArray[1] %>.png" alt= <%= @iconArray[1] %> style="width:60px;height:60px;display: block;margin-left: auto;margin-right: auto "></th>
    <th><img src= "/assets/<%= @iconArray[2] %>.png" alt= <%= @iconArray[2] %> style="width:60px;height:60px;display: block;margin-left: auto;margin-right: auto "></th>
    <th><img src= "/assets/<%= @iconArray[3] %>.png" alt= <%= @iconArray[3] %> style="width:60px;height:60px;display: block;margin-left: auto;margin-right: auto "></th>
    <th><img src= "/assets/<%= @iconArray[4] %>.png" alt= <%= @iconArray[4] %> style="width:60px;height:60px;display: block;margin-left: auto;margin-right: auto "></th>
    <th><img src= "/assets/<%= @iconArray[5] %>.png" alt= <%= @iconArray[5] %> style="width:60px;height:60px;display: block;margin-left: auto;margin-right: auto "></th>
    <th><img src= "/assets/<%= @iconArray[6] %>.png" alt= <%= @iconArray[6] %> style="width:60px;height:60px;display: block;margin-left: auto;margin-right: auto "></th>
  </tr>
  <tr>
    <td style="visibility: hidden"></td>
    <th><%= @summaryArray[0] %></th>
    <th><%= @summaryArray[1] %></th>
    <th><%= @summaryArray[2] %></th>
    <th><%= @summaryArray[3] %></th>
    <th><%= @summaryArray[4] %></th>
    <th><%= @summaryArray[5] %></th>
    <th><%= @summaryArray[6] %></th>
  </tr>
  <tr>
    <td>Average temperature</td>
    <th><%= @tempAvgArray[0] %>°F</th>
    <th><%= @tempAvgArray[1] %>°F</th>
    <th><%= @tempAvgArray[2] %>°F</th>
    <th><%= @tempAvgArray[3] %>°F</th>
    <th><%= @tempAvgArray[4] %>°F</th>
    <th><%= @tempAvgArray[5] %>°F</th>
    <th><%= @tempAvgArray[6] %>°F</th>
  </tr>
  <tr>
    <td>Feels like</td>
    <th><%= @apparentTempAvgArray[0] %>°F</th>
    <th><%= @apparentTempAvgArray[1] %>°F</th>
    <th><%= @apparentTempAvgArray[2] %>°F</th>
    <th><%= @apparentTempAvgArray[3] %>°F</th>
    <th><%= @apparentTempAvgArray[4] %>°F</th>
    <th><%= @apparentTempAvgArray[5] %>°F</th>
    <th><%= @apparentTempAvgArray[6] %>°F</th>
  </tr>
  <tr>
    <td>Precipitation Probability</td>
    <th><%= @precipProbabilityArray[0] %>%</th>
    <th><%= @precipProbabilityArray[1] %>%</th>
    <th><%= @precipProbabilityArray[2] %>%</th>
    <th><%= @precipProbabilityArray[3] %>%</th>
    <th><%= @precipProbabilityArray[4] %>%</th>
    <th><%= @precipProbabilityArray[5] %>%</th>
    <th><%= @precipProbabilityArray[6] %>%</th>
  </tr>
</table>
</body>
</html>
<% else %>
<p>Please enter a correct city name (must be in US/Canada) </p>
<% end %>
<% else %>
<% end %>